[user]
  name = ph3nx
  email = me@ph3nx.com
[color]
  ui = auto
[core]
  autocrlf = input
  excludefile = ~/.gitignore-global
[push]
  default = simple
[filter "media"]
  clean = git media clean %f
  smudge = git media smudge %f
  required = true
